{% extends 'base.html.twig' %}

{% block title %}Sous Rubriques{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <div class="container">
        <div class="text font-weight-bold h2 mt-2 d-none d-md-block">Sous-Rubriques :</div>
 
                <div class="row ">

                    {% for sousrubriques in sousrubriques %}

                        <div class="col-4 mt-3 hover"> {{sousrubriques.nom}}<a href="{{ path('app_produits2', {'sous_rubrique_id': sousrubriques.id})}}"> <img src="{{asset('images/'~sousrubriques.photo)}}" alt="{{sousrubriques.nom}}" class="img-fluid img-thumbnail"></a></div>
                       
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
