{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">

    <div class="container">
        <div class="text font-weight-bold h2 mt-2 d-none d-md-block">Rubriques :</div>
 
                <div class="row ">

                    {% for rubriques in rubriques %}

                        <div class="col-4 mt-3 hover"> {{rubriques.nom}}<a href="{{ path('app_souscategories2', {'rubrique_id': rubriques.id})}}"> <img src="{{asset('images/'~rubriques.photo)}}" alt="{{rubriques.nom}}" class="img-fluid img-thumbnail"></a></div>
                       
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
