<header class="navbar navbar-expand-sm navbar-light" style="background-color : #079747;">
        <div class="container-fluid row">

                <div class="col-1 mr-4"><img src="{{asset('images/logo.png')}}" alt="logo" class="img-fluid"></div>
                <div class="col font-weight-bold h1 mt-3"><a href="/" style="color :#fef4e8">Accueil</a></div>
                <div class="col font-weight-bold h1 mt-3"><a href="/produits" style="color :#fef4e8">Produits</a></div>
                <div class="col font-weight-bold h1 mt-3"><a href="/login" style="color :#fef4e8">Connexion</a></div>  
                <div class="col font-weight-bold h1 mt-3"><a href="/register" style="color :#fef4e8">Inscription</a></div>
            
            
        </div>
        
</header>