<header class="navbar navbar-expand-sm navbar-light" style="background-color : #970747;">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col mr-4"><img src="{{asset('images/logo.png')}}" alt="logo" class="img-fluid"></div>
                <div class="col  font-weight-bold h1 mt-4"><a href="/" style="color :#fef4e8">Accueil</a></div>
                <div class="col  font-weight-bold h1 mt-4"><a href="/produits" style="color :#fef4e8">Produits</a></div>
                <div class="col font-weight-bold h1 mt-4"><a href="/souscategories" style="color :#fef4e8">Sous Rubriques</a></div>  
                
        
            </div>
            
            
        </div>
        
</header>